.container1 {
	width: 100%;
}
.switch_theme {
	margin: 3% 0 0 5%;
}

.searchDiv {
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-between;
	position: relative;
	padding: 1% 0 0 0;
	margin-left: 2%;
}
.searchDiv form {
	width: 60%;
}
.searchDiv form button {
	background: transparent !important;
	border: 0;
	box-shadow: none;
	color: #202020;
	font-size: 1.3rem;
	position: absolute;
	top: 15%;
	right: 0;
}

.searchDiv form button:enabled {
	color: #202020;
	box-shadow: none;
}
.searchDiv form button:hover {
	color: #202020;
	box-shadow: none;
}
.postsContainer {
	padding-top: 2%;
	width: 70%;
	margin: auto;
}

.falseTheme {
	background: rgb(238, 237, 237);
}

.trueTheme {
	background: #053e46;
}

.falseCard {
	background: #053e46 !important;
}

.trueCard {
	background: rgb(238, 237, 237);
}

.postTime {
	font-size: 0.9rem;
	font-weight: 0 !important;
	position: absolute;
	top: 30px;
	left: 40.5%;
}

.card-body {
	padding-bottom: 0 !important;
}
/*==============================Drop_Down_List================================*/
.threeDots {
	float: right;
	cursor: pointer;
}
.dropdown {
	float: right;
}
.dropdown svg {
	font-size: 1.5rem;
}
.dropdown-menu {
	transform: translate(-165px, 5px) !important;
}
#dropdown-basic {
	background-color: transparent;
	color: black;
	border: 0;
}
#dropdown-basic::after {
	content: none !important;
}
.deleteItem {
	color: darkred !important;
	font-size: 1.2rem;
	padding-top: 4%;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	transition: 400ms !important;
}

.deleteItem:hover {
	background: darkred !important;
	color: #eee !important;
}
.editItem {
	color: #f0c14b !important;
	font-size: 1.2rem;
	padding-bottom: 4%;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	transition: 400ms !important;
}
.editItem:hover {
	transition: all 0.3 ease-in-out;
	background: #f0c14b !important;
	color: #eee !important;
}

/*================================== Ask_Button ===========================================*/

button[class^='grow']::after {
	transition: all 0.3s ease !important;
}
button[class^='grow']:hover::after {
	transition: all 0.5s ease-out !important;
}
.grow_spin {
	border-radius: 20px;
	font-size: 1.3em;
	background: #3498db;
	color: #fff;
	border: 0.25rem solid #3498db;
	padding: 0.85em 0.75em;
	margin: 1rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.grow_spin:hover {
	transition: all 0.5 ease-in-out;
	color: #3498db;
}
.grow_spin::after {
	content: '';
	background: #ecf0f1;
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.75em;
	display: block;
}
.grow_spin::after {
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	transform: scale(0, 0) rotate(-180deg) !important;
}
.grow_spin:hover::after {
	transition: all 0.3 ease-in-out;
	transform: scale(1, 1) rotate(0deg) !important;
}

/*============================== ASK_FORM && ASK_MODAL =================================*/

.askForm {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.askForm textarea:enabled {
	color: rgb(0, 0, 0);
	box-shadow: 1px 1px 1px #222222;
	border-color: rgba(47, 79, 79, 0.274) !important;
}
.askForm button {
	margin-left: 35%;
	width: 30%;

	background-color: #c99616;
	border-color: #9e7100;
}
.askForm button:hover {
	transition: all 0.3 ease-in-out;
	background-color: #9e7100;
	border-color: #c99616;
}
.modal-content {
	width: 70% !important;
	margin-left: 15%;
}

.askModal {
	background-color: rgba(47, 79, 79, 0.274) \;;
}

.modalHeader {
	background-color: #08535d;
	color: #eee;
}

.modalHeader button {
	color: #fff;
}

.modalHeader button:hover {
	transition: all 0.3 ease-in-out;
	color: #fff;
}

.modalBody {
	background-color: rgba(221, 221, 221, 0.212);
}

/*===================================== Post_Edit_Form ==========================================*/
.postEditForm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.postEditForm input {
	width: 90%;
}
.postEditForm input:enabled {
	border: 1px solid #f0c14b;
	box-shadow: 1px 1px 1px #f0c14b;
}
.postEditForm button {
	color: #202020;
	background-color: #f0c14b;
	border-color: #c99616;
}
.postEditForm button:hover {
	transition: all 0.3 ease-in-out;
	color: #eee;
	background-color: #9e7100;
	border-color: #c99616;
}
